{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}

    <h3 class="js--modal__title">
        {{ 'b2b.MasterDataLabel'|trans }}
    </h3>

    <div class="b2b--modal-content">
        <div class="block-group b2b--form">
            <div class="block box--label is--full">
                {{ 'b2b.b2bofferexample.OfferName'|trans }}: *
            </div>
            <div class="block box--input is--full">
                <input type="text" name="name" value="" placeholder="{{ 'b2b.b2bofferexample.Name'|trans }}">
            </div>
        </div>
        <div class="block-group b2b--form">
            <div class="block box--label is--full">
                {{ 'b2b.b2bofferexample.Description'|trans }}:
            </div>
            <div class="block box--input is--full">
                <input type="text" name="description" value="" placeholder="{{ 'b2b.b2bofferexample.Description'|trans }}">
            </div>
        </div>
    </div>

{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <button class="btn btn-primary" type="submit">{{ 'b2b.Save'|trans }}</button>
{% endblock %}
